body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #353535;
}

#canvas {
  width: 100%;
  max-width: 1020px;
  border: 5px solid black;
}
